<%- include('../views/partials/header') %>
<main>
 <div class="ui segment">
   <h1>methode partial</h1>
   <p>utilisation d'express et de ejs en mode partials</p>
 </div>
 <h2>Variable</h2>
   <p><%= subheading %></p>
</main>

<footer >
  <%- include('../views/partials/footer') %>
</footer>

  </body> 
  </html>