<%;- include('../partials/header'); %;>
<main>
 <div class="ui segment">
   <h1>methode partial</h1>
   <p>Tutilisation d'express et de ejs en mode partials</p>
 </div>
</main>

<
footer >
  <%;- include('../partials/footer'); %;>
</footer>

  <
  /body> <
  /html>