<%- include('./partials/header'); %>

<main>
   <div class="ui grid segment ">
       <div class="segment eight wide column">
           <h1>test test youstone vous m'entendez</h1>
           <p>héhé meme pas peur</p>
       </div>
       <div class="segment eight wide column">
           <h1> Regarde c'est magique</h1>
       </div>
   </div>
</main>

<
footer >
  <%- include('./partials/footer'); %>
</footer>

  </body> 
  </html>